@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes scrollReverse {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0);
	}
}

.slideTrack {
	animation: scroll 5s linear infinite;
}

.slideTrackReverse {
	animation: scrollReverse 5s linear infinite;
}

@keyframes scrollMobile {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@keyframes scrollReverseMobile {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0);
	}
}

.slideTrackMobile {
	animation: scrollMobile 5s linear infinite;
}

.slideTrackReverseMobile {
	animation: scrollReverseMobile 5s linear infinite;
}
